DB_HOST=localhost
DB_USER=root
DB_PASSWORD=(nhap mật khẩu của bạn vào đây)
DB_NAME=HRPayrollDB
PORT=8080
ENABLE_OPTIMISTIC_LOCK=true
DEMO_DIRTY_READ=true
DEMO_NON_REPEATABLE_READ=true
DEMO_PHANTOM_READ=true
DEMO_DEADLOCK=true