DB_HOST=localhost
DB_USER=root
DB_PASSWORD=HyHocIT@2026
DB_NAME=HRPayrollDB
PORT=8080

# Demo mất dữ liệu cập nhật. (false để demo lỗi, true để khắc phục lỗi. MẶC ĐỊNH ĐỂ: true)
ENABLE_OPTIMISTIC_LOCK=true
# Demo Đoc dữ liệu bẩn. (true để demo lỗi, false để khắc phục lỗi. MẶC ĐỊNH ĐỂ: false)
DEMO_DIRTY_READ=false
# Demo không đọc lại được dữ liệu. (true để demo lỗi, false để khắc phục lỗi. MẶC ĐỊNH ĐỂ: false)
DEMO_NON_REPEATABLE_READ=false
# Demo Phantom Read.(vấn đề bóng ma) (true để demo lỗi, false để khắc phục lỗi. MẶC ĐỊNH ĐỂ: false)
DEMO_PHANTOM_READ=false
# Demo Deadlock.(kháo chết) (true để demo lỗi, false để khắc phục lỗi. MẶC ĐỊNH ĐỂ: false)
DEMO_DEADLOCK=false
